/.idea/

/data/

/target/

/project/target/

/project/project/target/

/.DS_Store

/src/.DS_Store

/src/main/.DS_Store

/src/main/scala/.DS_Store

/src/main/scala/com/.DS_Store

/src/main/scala/com/igniteplus/.DS_Store

/data/output_data/

/.bsp

/metastore_db

/derby.log


/null